.section-message {
  align-items: center;
  display: flex;
  justify-content: center;
  border-top: 1px solid var(--gray);
  border-bottom: 1px solid var(--gray);
}

@keyframes scroll {
  0% {
    transform: translateX(0%)
  }

  100% {
    transform: translateX(-50%)
  }
}

.slider {
  /*box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);*/
  height: 100px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 100%;
}


.slider::after {
  right: 0;
  top: 0;
  -webkit-transform: rotateZ(180deg);
  transform: rotateZ(180deg);
}

.slider::before {
  left: 0;
  top: 0;
}

.slider .slide-track {
  -webkit-animation: scroll 60s linear infinite;
  animation: scroll 60s linear infinite;
  display: flex;
  width: calc(250px * 14);
}

.slider .slide {
  padding: 2rem;
  display: flex;
  text-align: center;
}